h1{color: purple;
text-align: center;
font-weight: bold;
font-family: "Lucida handwriting",cursive;}
p{text-decoration-style: wavy;
font-family: "papyrus", fantasy;
font-size: 30px;
font-weight:bold;}

body {
      background-color: #00ffff;
    }